* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --title-color: #0d1111;
}

html {
    font-size: 62.5%;
}
/* ========== COMMONS =========== */
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    color: #000958;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.section__heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section__desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}
/* ========== HEADER =========== */
.header {
    padding: 26px 0;
    background: #fffaf5;
}

.header--fixer {
    opacity: 0.8;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4 rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover,
.header-action__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}
/* ============== HERO ================ */
.hero {
    margin-top: 74px;
}

.hero__iner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap--small {
    width: 186px;
    height: 244px;
    background: #faa7ad;
    align-self: flex-end;
    margin: 0 0 -58px -24px;
    border: 2px solid #fcdcdf;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-list-item__separate {
    display: block;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 99px;
    margin: 20px 0;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #6597c2;
}

.hero__heading {
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;

    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}
/* ================ ABOUT =============== */
.about {
    margin-top: 118px;
    padding: 20px 0;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../img/check.svg);
}

.about__card {
    position: absolute;
    z-index: 1;
    top: 160px;
    left: 0;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card-title {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img-wrap {
    margin-left: auto;
    position: relative;
    width: 494px;
}

.about__img-wrap::after {
    position: absolute;
    inset: auto 0 0 0; /* = top auto, left 0, right 0, bottom 0 */
    z-index: -1;
    content: "";
    border-radius: 16px;
    height: 336px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    width: 458px;
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-bottom {
    width: 100%;
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}
.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}
.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}
.about__decor-img:last-child {
    right: -42px;
    bottom: -62px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    border-radius: 1.5px;
    background: #ff5b2e;
    opacity: 0.07;
}

.tab__item--active::after {
    width: 150px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    color: #48496a;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
}

.tab__content-more::after {
    opacity: 1;
}
/* ================== Service ====================== */
.service {
    margin-top: 180px;
    background: #fff6ed;
    padding: 68px 0 100px;
}

.service__top {
    text-align: center;
}

.service__desc {
    color: #5e6085;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
    margin-top: 70px;
}

.service-item {
    width: 294px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-item + .service-item {
    margin-top: 24px;
}

.service-item__heading {
    position: relative;
    padding-left: 12px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__heading::before {
    content: "";
    position: absolute;
    inset: 0 auto 0 0;
    display: inline-block;
    width: 2px;
    height: 22px;
    border-radius: 1px;
    background: linear-gradient(#ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.service-item__more::after {
    margin: 2px 0 0 5px;
    content: url(../img/arrow-up-right.svg);
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    content: "";
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.service__cta {
    min-width: 214px;
    color: #ff5b2e;
    border-color: currentColor;
    opacity: 0.6;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}
